<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT | Clubs Points</title>
</head>
<body>
    <h3>Clubs:</h3>
        <ul>
            {% for club in clubs %}
            <li>
                {{club['name']}}<br />
                Points: {{club['points']}}</br>
            </li>
            <hr />
            {% endfor %}
        </ul>

    <button type="button" onclick="javascript:history.back()">Retour à l'accueil</button>

</body>
</html>